body {
	background-image: url(img/clear-day.jpeg);
	background: no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Work Sans', sans-serif;	
}

.content {
	background-color: #e6e6e6;
	margin: 0 auto;
	margin-top: 50px;
	width: 30%;
	padding: 5px;
	border: 1px solid #8c8c8c;
	border-radius: 25px;
	opacity: 0.6;
	text-align: center;
	color: #4d4d4d;
}

#switch {
	-webkit-border-radius: 20;
	-moz-border-radius: 20;
	border-radius: 20px;
	font-family: Arial;
	color: #3d3b3d;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	background: #aad1eb;
	padding: 10px 20px 10px 20px;
	border: solid #1f628d 2px;
	text-decoration: none;
}

#switch:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.wi-humidity {
	color: blue;
	font-size: 30px;
}

.wi-strong-wind {
	color: #9B9B9B;
}

.wi-sunrise,
.wi-sunset {
	color: #FF7800;
}

.icon-size {
	font-size: 30px;
}

.red {
	color: #ea2C2C;
}

.blue {
	color: #0015CA;
}